In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

In [19]:
# !pip install psycopg2 sqlalchemy

In [24]:
engine = create_engine('postgres://postgres:NONE@localhost:5432/Employees')
conn = engine.connect()

In [25]:
session = Session(bind=engine)

In [31]:
salaries_data = pd.read_sql("SELECT * FROM salaries", conn)
salaries_data.min

<bound method DataFrame.min of         sal_id salary emp_no
0        10001  60117   None
1        10002  65828   None
2        10003  40006   None
3        10004  40054   None
4        10005  78228   None
...        ...    ...    ...
300019  499995  40000   None
300020  499996  58058   None
300021  499997  49597   None
300022  499998  40000   None
300023  499999  63707   None

[300024 rows x 3 columns]>

In [28]:
titles_data = pd.read_sql("SELECT * FROM titles", conn)
titles_data.head()

  title_id               title emp_no
0    s0001               Staff   None
1    s0002        Senior Staff   None
2    e0001  Assistant Engineer   None
3    e0002            Engineer   None
4    e0003     Senior Engineer   None